body {
    background-color: rgb(189, 252, 246);
  }
textarea {
    width: 400px;
    height: 100px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}
select {
    width: 100px;
}
section {
    margin: auto;
    width: 90%;
    padding: 20px;
}
h1 {
    text-align: center;
}
div {
    padding: 20px;
}
input {
    padding: 4px;
    margin: 10px 0 10px 0;
}
#chains {
    height: 250px;
}